<div class="row-fluid">
  <div class="span3"></div>

  <div class="span9">
    <div class="record-pane">
      <h2>
        <%= I18n.t "plugins.box_search.label" %>
        &nbsp;&nbsp;
        <input name="box" placeholder="<%= I18n.t 'plugins.box_search.box_placeholder' %>">
        <input name="collection" placeholder="<%= I18n.t 'plugins.box_search.collection_placeholder' %>">
        <a href="javascript:void(0);" class="btn btn-primary create-extent-btn"><%= I18n.t("plugins.box_search.go") %></a>
      </h2>
    </div>
  </div>
</div>
